.ourServicesCard {
    margin-bottom: 37px;
    &__body {
        max-width: 350px;
        width: 100%;
        height: 354px;
        box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
        background-color: #fff;
        border-radius: 20px;

        @media screen and (max-width: 768px) {
            margin: 0 25px;
            text-align: center;
        }

        &-content {
            padding: 54px 45px 45px 39px;
            &-image {
                margin-bottom: 22px;
            }

            &-title {
                color: #000;
                font-size: 24px;
                font-weight: 700;
                line-height: 56px;
            }

            &-description {
                max-width: 266px;
                width: 100%;
                color: #7d7987;
                font-size: 16px;
                font-weight: 300;
                line-height: 28px;
            }
        }
    }
}
