.costumer {
    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 90px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding: 0 20px 60px 20px;
        }

        &-image {
            img {
                border-radius: 50%;
                box-sizing: border-box;
                border: 3px solid #fff;
            }
        }

        &-name {
            margin: 0 110px 0 35px;

            @media screen and (max-width: 768px) {
                margin: 0;
                text-align: center;
            }
        }

        &-title {
            color: #fff;
            font-size: 22px;
            font-weight: 700;
        }

        &-subtitle {
            color: rgba(255, 255, 255, 0.85);
            font-size: 18px;
            font-weight: 400;
        }

        &-description {
            max-width: 420px;
            width: 100%;
            color: rgba(255, 255, 255, 0.9);
            font-size: 19px;
            font-weight: 400;
            line-height: 30px;

            @media screen and (max-width: 768px) {
                text-align: center;
                margin-top: 20px;
            }
        }
    }
}
