.download {
    margin-top: 230px;

    @media screen and (max-width: 768px) {
        margin-top: 80px;
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
            text-align: center;
        }

        &-image {
            img {
                @media screen and (max-width: 768px) {
                    width: 300px;
                    height: 300px;
                    margin-bottom: 30px;
                }
            }
        }

        &-menu {
            &-title {
                color: #000;
                font-size: 36px;
                font-weight: 700;
                line-height: 48px;
                max-width: 250px;
                width: 100%;
                padding-bottom: 30px;
                position: relative;

                @media screen and (max-width: 768px) {
                    margin: 0 auto;
                }

                &::after {
                    content: "";
                    width: 56px;
                    height: 2px;
                    background-color: #000;
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    @media screen and (max-width: 768px) {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            &-description {
                color: #7d7987;
                font-size: 18px;
                font-weight: 300;
                line-height: 30px;
                max-width: 420px;
                width: 100%;
                margin: 30px 0 40px 0;
            }

            &-button {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #458ff6;
                font-size: 18px;
                font-weight: 700;
                padding: 15px 43px;
                border-radius: 55px;
                border: 1px solid #458ff6;
                background-color: #fff;

                @media screen and (max-width: 768px) {
                    margin: 0 auto;
                }

                &-icon {
                    margin-left: 15px;
                }
            }
        }
    }
}
